body{
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(21, 208, 21);
    width: 100%;
    height: 30px;
}
nav a {
    color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}
.navL {
    float: right;
}
nav a:hover{
    color:rgb(3, 90, 3);;
    background-color: rgb(6, 171, 6);
    text-decoration: none;
}
